 * {
margin: 0;
padding: 0;
 }
 *
{
margin: 0;
padding: 0;
}

.container {
    width:100%;
    /*background: #aaadb4; */
    background-image: url(../../assets/img/bg2.jpg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}



.navbar {
    width: 100%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 12px rgba(0,0,0, 0.2);
    height : 80px;
}

.navbar ul {
margin-top: 2%;
margin-left: 40%;
} 

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

.navbar ul li a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(56,74,241);
    margin-top: 3%;
    transition: .4s ease;
} 

 .navbar ul li a:hover {
    color:  rgb(43, 30, 30);
}

 
 .img-info p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color:#111;
    line-height: 24px;
     }

     .info {
        margin-left: 7%;
        margin-top: 10%;
    }
    
    .info h1{
        font-size: 65px;
        color: rgb(43,30,30);
    }
    
    .info p {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 24px;
    }
    
    .info span {
        color:rgb(56, 74, 241)
    }
        

        